{
  "endOfLine": "crlf",
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "organizeImportsSkipDestructiveCodeActions": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
